<h1>Cadastrar Livros</h1>

<div>
    <form action="/cadastro" method="post">
        <h3>Título do livro:</h3>
        <input type="text" name="title" placeholder="Digite o nome do livro...">

        <h3>Categoria do livro:</h3>
        <input type="text" name="category" placeholder="Digite a categoria do livro...">

        <h3>Descrição do livro</h3>
        <input type="text" name="descri" placeholder="Descrição do livro...">

        <h3>Preço do livro</h3>
      <input type="text" name="preco" placeholder="Preço do livro">

        <h3>Quantidade disponível</h3>
      <input type="text" name="quanti" placeholder="Quantidade disponível">

      <input type="sibmit">
    </form>
</div>